{
    "presets": ["@babel/preset-react","@babel/preset-env","env"],
    "env": {
      "development": {
        "presets": [["@babel/preset-react", { "development": true }]],
        "plugins": ["@babel/plugin-syntax-dynamic-import", "@babel/plugin-transform-modules-commonjs"]
      }
    }
  }