@font-face {
    font-family: 'Spectral-Regular', sans-serif;
    src: url(../font/Spectral-Regular.ttf) format("ttf");
  }
  
  @font-face {
    font-family: 'Metal Mania', cursive;
    src: url(../font/Metal-Mania.otf) format("otf");
  }

