@import "./mixin";

.box {
  color: var(--color-light);
  background: var(--color-gradient);
  border-radius: var(--border-radius);
  padding: 1.87rem;
  margin: 1.3rem;
  font-size: var(--font-size);
  @include text-align;
}


.box:nth-child(1):hover {
  background-image: url(../image/presentation2.JPG);
  filter: grayscale(80%);
 @include background-image;
}

.box:nth-child(2):hover {
  background-image: url(../image/presentation1.JPG);
  filter: grayscale(80%);
  @include background-image;
}

.box:nth-child(3):hover {
  background-image: url(../image/presentation3.JPG);
  filter: grayscale(80%);
 @include background-image;
}

.box:nth-child(4):hover {
  background-image: url(../image/presentation1.JPG);
  filter: grayscale(80%);
 @include background-image;
}


@media (max-width: 450px) {
  .box {
    @include text-align;
  }
}

@media (max-width: 950px) and (min-width: 450px) {
  .box {
      @include text-align;
  }
}

.left {
  border-top: 1px solid var(--color-light);
}
.top {
  border-right: 1px solid var(--color-light);
}
.right {
  border-bottom: 1px solid var(--color-light);
}
.bottom {
  border-left: 1px solid var(--color-light);
}



@media (min-width: 950px) {
  .box-container {
      @include display-flex;
  }
  
  .boX-container {
     @include display-flex;
  }
  .box-down {
      position: relative;
      top: 9.37rem;
  }
  .box {
      width: 40%;
   
  }
  
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: var(--font-size);
  background: var(--color-gradient);
  padding: 1.87rem;
  border-radius: var(--border-radius);
  color: var(--color-light);
  border: 0.1rem solid var(--color-light);
}

.formular {
  margin: 1.3rem;
}

.label {
  color: var(--color-light);
}

.input {
  border-radius: var(--border-radius);
}

.textarea {
  border-radius: var(--border-radius);
}

.control {
  width: var(--width-desktop);
}

.file-input {
  color: var(--color-light);
}

.mail {
  color: var(--color-light);
 @include display-flex;
}

.mail:hover {
  color: var(--color-button);
}

