@import "./mixin";

#page3 {
  width: var(--width-desktop);
  padding: var(--padding);
  padding-top: 5rem;
  padding-bottom: var(--padding-bottom);
}

.sliderImage {
  display: flex;
  flex-direction: row;
  overflow-y: scroll;
  gap: 1rem;
  .imageScroll {
    width: var(--image-width);
    height: var(--image-height);
    border-radius: var(--border-radius);
    &.imageScroll:hover {
      width: auto;
      height: 500px;
      transition: 0.9s ease-in-out;
      filter: grayscale(100%);
    }
  }
}


@media (max-width: 820px) {
  .imageScroll {
  @include size-image;
  }
}